<template>
  <nav>
    <h1>Lorem.</h1>
    <div class="info">
      <h2>example@lorem.com</h2>
      <h2>8 123 456 78 90</h2>
    </div>
    <ul>
      <li @click="scrollToPeculiaritiesSection"><a href="#">Особенности</a></li>
      <li @click="scrollToAboutUsSection"><a href="#">О нас</a></li>
      <li @click="scrollToContactsSection"><a href="#">Контакты</a></li>
      <li @click="$router.push('/signin')"
          style="border-radius: 0% 13px 13px 0%;"><a href="#">Вход</a></li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'nav-bar',
  methods: {
    scrollToPeculiaritiesSection () {
      let peculiaritiesSection = document.querySelector('#peculiarities-section')
      peculiaritiesSection.scrollIntoView({ behavior: 'smooth' })
    },
    scrollToAboutUsSection () {
      let aboutUsSection = document.querySelector('#about-us-section')
      aboutUsSection.scrollIntoView({ behavior: 'smooth' })
    },
    scrollToContactsSection () {
      let contactsSection = document.querySelector('#contacts-section')
      contactsSection.scrollIntoView({ behavior: 'smooth' })
    }
  }
}
</script>

<style scoped>
  nav {
    position: absolute;
    width: 80vw;
    height: 70px;
    left: 10vw;
    top: 34px;

    font-family: 'Open Sans', sans-serif;
    color: white;

    background: rgba(44, 54, 90, 0.8);
    backdrop-filter: blur(9px);
    /* Note: backdrop-filter has minimal browser support */
    display: flex;
    border-radius: 13px;
    align-items: center;
    justify-content: space-between;
  }
    nav ul {
      height: 70px;
      justify-content: space-evenly
    }
nav li {
  color: white;
  padding: 25px 2.5vw;
  text-align: center;
  border-bottom: 3px solid transparent;
  display:inline-block;
  transition: 0.4s;
}
nav li.active,
nav li:hover {
  background-color: #2C365A;
  border-bottom-color: white;
}
nav a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
h1{
    padding-left: 3vw;
    font-size: 25px;
}
h2{
    font-size: 15px;
    text-align: left;
    padding-top: 5px;
}
</style>
