<template>
  <div class="frame">
    <!--<img :src="imgUrl" alt="picture" id="imageBox" />-->
    <img src="./img/money.png" alt="picture" v-if="name === 'Экономия денег'" />
    <img src="./img/entertainment.png" alt="picture" v-if="name === 'Развлекательный контент'" />
    <img src="./img/time.png" alt="picture" v-if="name === 'Экономия времени'" />
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
</template>

<script>
export default {
  props: [
    'imgUrl',
    'name',
    'description'
  ]
}
</script>

<style>
  .frame {
    position: relative;
    width: 20vw;
    height: 30vw;
    background: rgba(162, 162, 162, 0.35);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 29.0452px;
    color: white;
  }
  .frame:hover{
    transform: scale(1.05);
  }

  .frame img{
    margin-top: 10%;
    width: 10vw;
  }
    .frame h1 {
      margin-top: 15%;
      margin-right: 10%;
      margin-left: 10%;
      font-size: 1.7vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
    .frame p {
      padding-top: 10%;
      font-family: 'Open Sans', sans-serif;
      font-size: 1vw;
      font-weight: normal;
    }
</style>
