<template>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Posts</h1>
      <h3>This file will list all the posts</h3>
      <section class="panel panel-success">
        <div class="panel-heading">list of posts</div>
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          <tr v-for="quest in this.quests" :key="quest.title">
            <td>{{ quest.title }}</td>
            <td>{{ quest.description }}</td>
          </tr>
        </table>
      </section>
      <!--
      <section class="panel panel-danger" v-if="!quests.length">
        <p>There are no quests ... Lets add one now!</p>
        <div>
          <p>Add new quest</p>
        </div>
      </section>
      -->
    </div>
  </div>
</div>
</template>

<script>
import QuestService from '@/services/QuestService'
export default {
  name: 'QuestsPage',
  data () {
    return {
      quests: []
    }
  },
  methods: {
    async getQuests () {
      const response = await QuestService.fetchQuests()
      this.quests = response.data
    }
  },
  mounted () {
    this.getQuests()
  }
}
</script>
