<template>
  <div class="base">
    <section class="first-section" id="first-section">
      <header>
        <Navbar />
      </header>
      <div class="content">
        <h3>Сервис работает так, как вам удобно</h3>
        <p>
          Соу, это примерный текст, ну, сюда еще лорем ипсум пишут,
          но мне как-то не захотелось, так что я вот пишу, да, текст, много текста.
          Кстати, как макет? Как шрифт? Нравится? Фак, только сейчас вспомниил,
          что не сделал состояния для кнопочек в шапке, окей, иду делать, вот как закончу,
          буду делать стартовую страницу.
        </p>
        <button @click="$router.push('/registration')"><a href="#">Регистрация</a></button>
      </div>
    </section>
    <section class="peculiarities-section" id="peculiarities-section">
      <h3>Особенности</h3>
      <div class="peculiarities-list">
        <Peculiarity img-url="./img/money.png"
                     name="Экономия денег"
                     description="Опа,  это описание первого блока, выглядит неплохо"></Peculiarity>
        <Peculiarity img-url="./img/entertainment.png"
                     name="Развлекательный контент"
                     description="А это у нас вторая карточка, я не придумал анимашек на нее, сделай, пожалуйста"></Peculiarity>
        <Peculiarity img-url="./img/time.png"
                     name="Экономия времени"
                     description="Hover какой-нибудь, красивый, желательно. Тхэнкс ;)"></Peculiarity>
      </div>
    </section>
    <section class="about-us-section" id="about-us-section">
      <div class="content">
        <h3>О нас</h3>
        <p style="color: white">
          Чтож, теперь я пишу “о нас”, интересно, о нас, это о нас,
          или о вас, я в команде? Не понять, все так непривычно, в тимах
          только на хакатонах работал, вроде бы, все окей. Сижу пишу “условный текст”,
          круто так-то, вторая строчка уже, ну я напишу три,
          пожалуй, хватит. Вот точно, еще пара слов, и я закон...
        </p>
      </div>
    </section>
    <section class="contacts-section" id="contacts-section">
      <div class="content">
        <h3>Контакты</h3>
        <div class="information-block">
          <p>
            Тут всякий текст. Лорем ипсум - это текст рыбка. Всякие буковки пишу я тута.
            Дак а блин, скажите, норм ведь макет? Шо думаешь? Текст всякий, текст, тут,
            не заполнили еще, ну вот так и живем. Кстати, справа тут ссылочки на меня.
          </p>
          <p>
            BE - https://www.behance.net/avandecord
          </p>
          <p>
            VK - https://vk.com/avandecord
          </p>
          <p>
            TG - @avandecord
          </p>
          <p>
            8 123 456 78 90
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="text-block">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus dolor neque,
          egestas feugiat maecenas sagittis, eget. Tellus aenean vestibulum est tempor.
        </p>
        <p>
          BE - https://www.behance.net/avandecord
        </p>
        <p>
          VK - https://vk.com/avandecord
        </p>
        <p>
          TG - @avandecord
        </p>
        <p>
          8 123 456 78 90
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import Navbar from './Navbar.vue'
import Peculiarity from './Peculiarity.vue'
export default {
  name: 'Start',
  components: {
    Navbar, Peculiarity
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.base{
    min-width: 870px;
}

.first-section {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: url('./img/first.png') no-repeat;
  background-size: 100% 100%;
}

.first-section .content {
  margin-top: 22%;
}

.first-section button {
  margin-top: 10vh;
  width: 158px;
  height: 53px;
  background: #EC796C;
  border-radius: 55px;
  border-color: transparent;
  position: static;
  font-family: Open Sans, sans-serif;
  color: white;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}
.first-section button:hover {
  background: transparent;
  border-radius: 55px;
  border: 2px solid #EC796C;
  box-sizing: border-box;
  border-radius: 55px;
  color: #EC796C;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.peculiarities-section {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: url('./img/peculiarities.png') no-repeat;
  background-size: 100% 100%;
  padding-top: 10vh;
}

.peculiarities-section h3 {
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
  color: white;
}

.peculiarities-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-top: 5vh;
  padding-right: 10vw;
  background-color: transparent;
}

  .about-us-section {
    width: 100%;
    height: 70vh;
    min-height: 350px;
    background: url('./img/about-us.png') no-repeat;
    background-size: 100% 100%;
  }

  .about-us-section .content {
    margin-top: 10%;
    color: white;
  }

  .about-us-section .content .p {
    color: white;
  }

  .contacts-section {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background: url('./img/contacts.png') no-repeat;
    background-size: 100% 100%;
  }

  .contacts-section .content {
    margin-top: 7%;
  }

    .contacts-section .information-block {
      margin-top: 5vh;
      position: absolute;
      width: 80vw;
      height: 310px;
      background: rgba(44, 54, 90, 0.7);
      backdrop-filter: blur(9px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 13px;
      text-align: left;
    }

      .contacts-section .information-block p {
        padding-left: 3vw;
        color: white;
        padding-top: 2.7%;
        font-size: 18px;
        font-weight: normal;
      }

  .content {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    left: 10vw;
    position: absolute;
    text-align: center;
  }

  .content h3 {
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
  }
  .content p {
    color: black;
    padding-top: 5%;
    font-size: 18px;
    font-weight: normal;
  }

  footer {
    background-color: #2C365A;
    text-align: left;
  }

    footer .text-block {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    footer p {
      margin: 15px 10vw;
      font-family: Open Sans, sans-serif;
      color: white;
      font-weight: normal;
      font-size: 15px;
    }
</style>
